<div class="login-body">
  <!-- <div class="body-container"> -->
  <div class="">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-6 left-side">
        <img src="" alt="" class="logo" />
        <h1>Welcome</h1>
        <p>
          Sign in to start your session
        </p>
      </div>
      <div class="ui-g-12 ui-lg-6 right-side">
        <div class="login-wrapper">
          <div class="login-container">
            <span class="title">Login</span>

            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <input
                  type="text"
                  autocomplete="off"
                  placeholder="Username"
                  class="ui-inputtext ui-widget"
                />
              </div>
              <div class="ui-g-12">
                <input
                  type="password"
                  autocomplete="off"
                  placeholder="Password"
                  class="ui-inputtext ui-widget"
                  feedback="false"
                />
              </div>
              <div class="ui-g-6">
                <button
                  type="button"
                  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue-btn"
                  (click)="navigateToHome()"
                >
                  <span class="ui-button-text ui-c">
                    <img
                      src="../../../assets/images/svg/check.svg"
                      alt="login"
                      style="height: 13px;width: 16px;float: left;margin-top: 3px"
                    />
                    Login
                  </span>
                </button>
              </div>
              <div class="ui-g-6 password-container">
                <a>Forgot Password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
