<div class="exception-body notfound-body">
  <div class="exception-container">
    <img src="../../../assets/images/png/code.png" alt="apollo-layout" />
    <h1>Not Found</h1>
    <p>
      Resource is not found.
    </p>
    <button
      type="button"
      class="ui-button blue-btn ui-widget ui-state-default ui-corner-all"
      style="border-radius:5px;padding:5px;height:40px;"
      (click)="navToHome()"
    >
      <span class="ui-button-text">
        <img
          src="../../../assets/images/svg/back.svg"
          alt="login"
          style="height: 13px;width: 16px;float: left;margin: 3px"
        />
        Go To Dashboard</span
      >
    </button>
  </div>
</div>
